.websiteformat {
    color: firebrick;
}

.heading {
    color: #d90000;
    text-align: center;
}

.paragraph {
    font-family: sans-serif;
    color: black;
}
body {
    background-color: #fffdc9;
}

nav ul li a {
    color:firebrick;
    text-decoration: none;
}

nav ul li {
    list-style: none;
}

a {
    color:darkgreen;
}